<html lang="en">
	<head>
		<title>Welcome to sooda.io</title>

		<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="app.css">

		<!-- jQuery -->
		<script
			src="//code.jquery.com/jquery-3.1.1.min.js"
			integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			crossorigin="anonymous"></script>
		<!-- socket.io -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.slim.js"></script>
		<!-- semantic ui -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
		<!-- angular JS -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<script src="user.js"></script>
	</head>
	<body ng-app="SoodaApp"
				ng-controller="SoodaCtrl">

		<div class="ui container">
			<div class="ui attached message header-container">
				<div class="header">
					Welcome to Sooda.io!
				</div>
				<p>Start chatting with other people!</p>
			</div>
			<div class="ui padded grid">
				<div class="four wide column ui segment">
					<div class="users">
						<div class="ui middle aligned divided list">
							<div class="item">
								<div class="right floated content">
									<div class="ui red label">me</div>
								</div>
								<div class="middle aligned content">
									<a class="header">
										{{ username }}
									</a>
								</div>
							</div>
							<div ng-repeat="user in users track by $index"
									 ng-hide="username === user"
									 class="item">
								<div class="right floated content">
									<div class="ui label">anon</div>
								</div>
								<div class="middle aligned content">
									<a class="header">{{ user }}</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="twelve wide column">
					<div class="chat-screen ui left aligned attached segment inverted">
						<div class="message-container"
								 ng-repeat="msg in messages track by $index">
							<div ng-class="msg.isMe ? 'my-msg' : ''">
								<a ng-hide="msg.isMe"
									 class="ui blue basic label">{{ msg.username }}</a>
								<div ng-class="msg.isMe ? 'ui blue right pointing label' : 'ui left pointing label'">
									<p>{{ msg.message }}</p>
								</div>
							</div>
						</div>
					</div>
					<div class="ui attached segment fluid action input">
						<input type="text"
									 ng-model="message"
									 placeholder="Type something ...">
						<div class="ui button"
								 ng-click="send(message)">Enter</div>
					</div>
				</div>
			</div>
		</div>

		<script src="app.js"></script>
	</body>
</html>